@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutEn.cshtml";
}
<style>
    .sec-below {
        padding: 0px;
    }

    .rebortotherdocuments {
        padding-bottom: 200px;
        line-height: 2;
    }

    .news-noidung {
        padding-bottom: 200px;
    }
</style>
<div class="document-agemda">
    <div class="container document-nodung">
        <div class="row document-head">
            <div class="col-sm-6 col-md-3">
                <div class="adenda  @Html.Raw(ViewBag.Ver == "adenda"?"active":"")">
                    <a href="/DocumentEn/ChangeVersionDocument?type=adenda">
                        @if (ViewBag.Ver == "adenda")
                        {
                            <img src="images/i-con_02.png" alt="">
                        }
                        else
                        {
                            <img src="images/i-con_01.png" alt="">
                        }
                        <span>AGENDA</span>
                    </a>

                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="adenda @Html.Raw(ViewBag.Ver == "protfolio" ? "active" : "")">
                    <a href="/DocumentEn/ChangeVersionDocument?type=protfolio">
                        @if (ViewBag.Ver == "protfolio")
                        {
                            <img src="images/i-con_04.png" alt="">
                        }
                        else
                        {
                            <img src="images/i-con_03.png" alt="">
                        }
                        <span>PORTFOLIO</span>
                    </a>

                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="adenda @Html.Raw(ViewBag.Ver == "report" ? "active" : "")">
                    <a href="/DocumentEn/ChangeVersionDocument?type=report">
                        @if (ViewBag.Ver == "report")
                        {
                            <img src="images/i-con_06.png" alt="">
                        }
                        else
                        {
                            <img src="images/i-con_05.png" alt="">
                        }
                        <span>REPORTS &amp; OTHER DOCUMENTS</span>
                    </a>

                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="adenda @Html.Raw(ViewBag.Ver == "press" ? "active" : "")">
                    <a href="/DocumentEn/ChangeVersionDocument?type=press">
                        @if (ViewBag.Ver == "press")
                        {
                            <img src="images/i-con_08.png" alt="">
                        }
                        else
                        {
                            <img src="images/i-con_07.png" alt="">
                        }
                            <span>PRESS RELEASE</span>
                    </a>

                </div>
            </div>
        </div>

        @if (@ViewBag.Ver == "protfolio")
        {
            @Html.Action("Portfolio", "DocumentEn")
        }
        else if (@ViewBag.Ver == "report")
        {
            @Html.Action("Report", "DocumentEn")
        }
        else if (@ViewBag.Ver == "press")
        {
            @Html.Action("PressRelease", "DocumentEn")
        }
        else
        {
            @Html.Action("Agenda", "DocumentEn")
        }


    </div>

    <section class="sec-below">
        <div class="sec-above-bg">
            <div class="sec-above-bg-color">
                <span class="title-footer">Copyright 2018 Social Security Office. All right reserved</span>
            </div>
        </div>
    </section>
</div>
