@using DataContext.Constants


<link href="~/Scripts/bootstrap-timepicker/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-timepicker/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<div class="white-box">
    <div class="col-sm-12" style="padding-bottom: 10px; border-bottom: 1px solid red;    margin-bottom: 20px;">
        <div class="row">
            <div class="col-sm-6" style="float:left">
                <h3 class="box-title m-b-0"><i class="ti-angle-double-right" style="padding-right:10px"></i>Thêm mới lịch trình cuộc họp</h3>
            </div>
            <div class="col-sm-6" style="float:right">
                <h3 id="btn-cancel" class="box-title m-b-0" style="float: right; cursor: pointer;"><i class="ti-arrow-left" style="padding-right:10px"></i><a href="javascript:0" id="btnBack">@(ASS_35.Resources.HomeText.ButtonBack)</a></h3>
            </div>
        </div>
    </div>
    <div class="form-group text-left">
        <label class="control-label"> <i class="ti-pencil-alt" style="padding-right:10px"></i> @ViewBag.title </label><br />
        <label class="control-label"> <i class="ti-location-pin" style="padding-right:10px"></i> @ViewBag.place </label>

    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.Name_meeting) <span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="ten" placeholder="@(ASS_35.Resources.HomeText.Name_meeting)">
    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.Place) <span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="diadiem" placeholder="@(ASS_35.Resources.HomeText.Place)">
    </div>

    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.Content) <span style="color: red;">*</span></label>
        <textarea name="noidung" id="noidung" rows="10" cols="80"></textarea>
    </div>
    <div class="form-group text-left" style="display:none">
        <label class="control-label">@(ASS_35.Resources.HomeText.Date_start) <span style="color: red;">*</span></label>
        <input type="text" disabled class="form-control" id="txt-date-start" value="@ViewBag.ngaydienra" placeholder="@(ASS_35.Resources.HomeText.Date_start)">
    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.TimeS) <span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="txt-time-start" placeholder="@(ASS_35.Resources.HomeText.Time_start)" readonly="readonly">
    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.TimeE) </label>
        <input type="text" class="form-control" id="txt-time-end" placeholder="@(ASS_35.Resources.HomeText.Time_end)" readonly="readonly">
    </div>
    <button class="btn btn-success waves-effect waves-light" data-item="3" type="button" id="btnSaveandPost">
        <span class="btn-label"><i class="ti-save"></i></span>@(ASS_35.Resources.HomeText.ButtonSave)
    </button>
    @*@if (ViewBag.quyen == 1)
        {
            <button class="btn btn-primary waves-effect waves-light" data-item="3" type="button" id="btnSaveandPost">
                <span class="btn-label"><i class="ti-save"></i></span>@(ASS_35.Resources.HomeText.SaveAndPost)
            </button>
        }
        else
        {
            <button class="btn btn-primary waves-effect waves-light" data-item="2" type="button" id="btnSaveandPost">
                <span class="btn-label"><i class="ti-save"></i></span>@(ASS_35.Resources.HomeText.SaveAndPostAdmin)
            </button>
        }*@
</div>
<div id="meet-container">
    @Html.Action("AllDetail", "MeetingAndEvent", new { id = ViewBag.id })
</div>




<script>
    $(function () {
        $("#txt-date-start").datepicker({
            changeYear: true,
            yearRange: "1918:2017",
            dateFormat: "dd-mm-yy",
            altFormat: "dd-mm-yy"
        });
        $("#txt-time-start").timepicker({
            minuteStep: 5
        });
        $("#txt-time-end").timepicker().val('11:45 PM');
        CKEDITOR.replace('noidung',
            {
                fullPage: false,
                imageBrowser_listUrl: "~/Content/plugins/bower_components/ckeditor/plugins/imagebrowser/browser/browser.html",
                filebrowserVideoBrowseUrl: "/Content/plugins/bower_components/ckeditor/plugins/video/Servervideo.html"
            });
        BindUrlBackEditForm("/MeetingAndEvent/Index", "btnBack");
        BindButtonSaveClick();
    });

    function BindButtonSaveClick() {
        @*$("#btnSave").click(function () {

            var ten = $("#ten").val();
            var diadiem = $("#diadiem").val();
            var noidung = CKEDITOR.instances['noidung'].getData();

            var startDate = $("#txt-date-start").val();
            var startTime = $("#txt-time-start").val();
            var endTime = $("#txt-time-end").val();

            var fm_data = new FormData();
            var dataObject = {
                ten: ten,
                diadiem: diadiem,
                noidung: noidung,
                startDate: startDate,
                startTime: startTime,
                endTime: endTime,
                id:@ViewBag.id,
                trangthai: "4"
            };

            fm_data.append("DataSend", JSON.stringify(dataObject));

            var success = function (dx) {
                if (dx.Resulf.IsSuccess) {
                    QTW_RUN_MESS.alter_Message_Success(dx.Resulf.Message);
                    LoadPartialView("@Url.Action("AllDetail", "MeetingAndEvent", new { id = ViewBag.id, trangthai = 0 })","#meet-container")

                }
                else {
                    QTW_RUN_MESS.alter_Message_Error(dx.Resulf.Message);
                }
            }
            var fun = function () {
                QTW_JQUERY.RUN_AJAX("ajaxPOST", "/MeetingAndEvent/_AddInforMeeting", fm_data, success);
            }
            QTW_RUN_MESS.alter_Message_Question_Callbaclk(" @Html.Raw(ASS_35.Resources.HomeText.Accept_Add) ", fun);
        });*@

        $("#btnSaveandPost").click(function () {

            var ten = $("#ten").val();
            var diadiem = $("#diadiem").val();
            var noidung = CKEDITOR.instances['noidung'].getData();

            var startDate = $("#txt-date-start").val();
            var startTime = $("#txt-time-start").val();
            var endTime = $("#txt-time-end").val();

            var fm_data = new FormData();
            var dataObject = {
                ten: ten,
                diadiem: diadiem,
                noidung: noidung,
                startDate: startDate,
                startTime: startTime,
                endTime: endTime,
                id:@ViewBag.id,
                trangthai: $('#btnSaveandPost').attr('data-item'),
            };
            fm_data.append("DataSend", JSON.stringify(dataObject));

            var success = function (dx) {
                if (dx.Resulf.IsSuccess) {
                    QTW_RUN_MESS.alter_Message_Success(dx.Resulf.Message);
                    LoadPartialView("@Url.Action("AllDetail", "MeetingAndEvent", new { id = ViewBag.id, trangthai = 0 })","#meet-container")

                }
                else {
                    QTW_RUN_MESS.alter_Message_Error(dx.Resulf.Message);
                }
            }
            var fun = function () {
                QTW_JQUERY.RUN_AJAX("ajaxPOST", "/MeetingAndEvent/_AddInforMeeting", fm_data, success);
            }
            QTW_RUN_MESS.alter_Message_Question_Callbaclk(" @Html.Raw(ASS_35.Resources.HomeText.Accept_Add) ", fun);
        });
    }

</script>

