

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutEn.cshtml";
}

@section cssheader{
    
    <link href="~/Content/eliteadmin-colors/css/animate.css" rel="stylesheet" />
    <link href="~/Content/plugins/bower_components/sweetalter/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/eliteadmin-colors/css/style.css" rel="stylesheet" />
    <style>
        .login-register {
            position:unset !important;
            background-color: #fff;
        }
        body {
            background: none;
        }
        .login-box {
            margin-bottom : 10%;
        }
    </style>
   
}
@section scripts {
    <script src="~/Content/plugins/bower_components/jquery/jquery.min.js"></script>
    <script src="~/Content/eliteadmin-colors/bootstrap/dist/js/tether.min.js"></script>
    <script src="~/Content/eliteadmin-colors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <script src="~/Content/plugins/bower_components/sidebar-nav/sidebar-nav.min.js"></script>
    <script src="~/Content/eliteadmin-colors/js/jquery.slimscroll.js"></script>
    <script src="~/Content/eliteadmin-colors/js/waves.js"></script>
    <script src="~/Content/eliteadmin-colors/js/custom.min.js"></script>
    <script src="~/Content/plugins/bower_components/sweetalter/sweetalert.min.js"></script>
    <script src="~/Content/plugins/bower_components/sweetalter/jquery.sweet-alert.custom.js"></script>

    <script src="~/Content/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="~/Content/ScriptPuplic/Language.js"></script>
    <script src="~/Content/ScriptPuplic/LibAss.js"></script>
    <script src="~/Scripts/Login.js"></script>
    
}
<div class="container">
    <div class="preloader" style="display:none">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box ">
                <div style="width:100%;float:left">
                    <a href="/">
                        <img class="img-responsive" style="width: 30%;    margin-left: 35%;" src="~/images/assa-logo.png" />
                    </a>
                </div>
            </div>
           
            <div class="white-box ">
                <form class="form-horizontal form-material" id="loginform" action="index.html">
                    <h3 class="box-title m-b-20">@(ASS_35.Resources.HomeText.Sign_in)</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="@(ASS_35.Resources.HomeText.Email)" id="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="@(ASS_35.Resources.HomeText.Password)" id="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @*<div class="checkbox checkbox-primary pull-left p-t-0">
                                    <input id="checkbox-signup" type="checkbox">
                                    <label for="checkbox-signup"> @(ASS_35.Resources.HomeText.Remember_me)</label>
                                </div>*@
                            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> @(ASS_35.Resources.HomeText.Forgot_password)</a>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" id="btnsubmit" type="button" onclick="return false">@(ASS_35.Resources.HomeText.Sign_in)</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p> @(ASS_35.Resources.HomeText.Dont_have_an_account)<a href="/registration" class="text-primary m-l-5"><b>@(ASS_35.Resources.HomeText.Sign_Up)</b></a></p>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal" id="recoverform" action="index.html">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <h3>@(ASS_35.Resources.HomeText.Recover_Password)</h3>
                            <p class="text-muted">@(ASS_35.Resources.HomeText.Mail_Recover) </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" id="emailReset" required="" placeholder="@(ASS_35.Resources.HomeText.Email)">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button id="btnResetPass" class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="button">@(ASS_35.Resources.HomeText.ButtonReset)</button>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal" id="choseRoll" style="display:none" action="index.html">
                    @*<div class="form-group ">
                            <div class="col-xs-12">
                                <h3>Recover Password</h3>
                                <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                            </div>
                        </div>*@
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <label style="text-align:center;padding-bottom:10px;width:100%">@(ASS_35.Resources.HomeText.Choose_the_right_choice)</label>
                            <select class="form-control" id="cbb_Roll"></select>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" id="btnAccept" type="button">@(ASS_35.Resources.HomeText.ButtonAccept)</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>


<section class="sec-below contact-footer">
    <div class="sec-above-bg">
        <div class="sec-above-bg-color">
            <span class="title-footer">Copyright 2018 Social Security Office. All right reserved</span>
        </div>
    </div>
</section>