@using DataContext.Constants
<link href="~/Scripts/bootstrap-timepicker/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-timepicker/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<div class="white-box">
    <div class="col-sm-6" style="float:right">
        <h3 id="btn-cancel" class="box-title m-b-0" style="float: right; cursor: pointer;"><i class="ti-arrow-left" style="padding-right:10px"></i><a>@(ASS_35.Resources.HomeText.ButtonBack)</a></h3>
    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.NameEvent) <span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="txt-venue-name" placeholder="@(ASS_35.Resources.HomeText.NameEvent)">
    </div>
    <div class="form-group text-left">
        <label class="col-sm-12">@(ASS_35.Resources.HomeText.Avatar)</label>
        <div class="col-sm-6">
            <div class="fileinput fileinput-new input-group" id="item-append-error">
                <div class="form-control" id="frmInput">
                    <i class="glyphicon glyphicon-file"></i>
                </div>
                <span class="input-group-addon btn btn-default btn-file">
                    <span class="fileinput-new">@(ASS_35.Resources.HomeText.Select_file)</span>
                    <input type="hidden"><input type="file" name="..." id="btnInput" accept="image/x-png,image/gif,image/jpeg">
                </span>
                <span id="appendInput">

                </span>
            </div>
        </div>
        <div id="gallaryFileOther">
            <ul class="feeds" id="view-item-file">
            </ul>
        </div>
    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.Content) <span style="color: red;">*</span></label>
        <textarea name="noidung" id="txt-venue-contents" rows="10" cols="80"></textarea>
    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.Note) </label>
        <textarea id="txt-venue-note" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group text-left" style="display: none;">
        <label class="control-label">@(ASS_35.Resources.HomeText.Version) <span style="color: red;">*</span></label>
        <select class="form-control" id="cbx-venue-language">
            <option value="1">@(ASS_35.Resources.HomeText.TV)</option>
            <option value="2">@(ASS_35.Resources.HomeText.TA)</option>
        </select>
    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.Place) <span style="color: red;">*</span></label>
        <textarea class="form-control" id="txt-venue-place" rows="10" cols="80"></textarea>
    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.Date_start) <span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="txt-date-start" placeholder="@(ASS_35.Resources.HomeText.Date_start)">
    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.Time_start) <span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="txt-time-start" placeholder="@(ASS_35.Resources.HomeText.Time_start)" readonly="readonly">
    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.Time_end) <span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="txt-time-end" placeholder="@(ASS_35.Resources.HomeText.Time_end)" readonly="readonly">
    </div>
    <button class="btn btn-default waves-effect waves-light btn-save" type="button" data-type="@SystemMessageConst.StatusConst.SaveDraft">
        <span class="btn-label"><i class="ti-save"></i></span>@(ASS_35.Resources.HomeText.Save_Draft)
    </button>
    <button class="btn btn-success waves-effect waves-light btn-save" type="button" data-type="@SystemMessageConst.StatusConst.Pending">
        <span class="btn-label"><i class="ti-save"></i></span>@(ASS_35.Resources.HomeText.SaveAndPost)
    </button>
</div>
<script>
    $(function () {
        $("#txt-date-start").datepicker({
            changeYear: true,
            yearRange: "1918:2017",
            dateFormat: "dd-mm-yy",
            altFormat: "dd-mm-yy"
        });
        $("#txt-time-start").timepicker({
                minuteStep: 5
            });
        $("#txt-time-end").timepicker();
        CKEDITOR.replace('txt-venue-contents',
            {
                fullPage: false,
                imageBrowser_listUrl: "~/Content/plugins/bower_components/ckeditor/plugins/imagebrowser/browser/browser.html",
                filebrowserVideoBrowseUrl: "/Content/plugins/bower_components/ckeditor/plugins/video/Servervideo.html"
            });
        BindButtonSaveClick();
        BindButtonCancelClick();
        BindButtonChooseFileChange();
    });
    function BindButtonCancelClick() {
        $("#btn-cancel").click(function() {
            LoadPage('@Url.Action("ListMeeting","Meeting")');
        });
    }
    function AddResult(data) {
        if (data.result.IsSuccess === false) {
            QTW_RUN_MESS.alter_Message_Error(data.result.Message);
        } else {
            QTW_RUN_MESS.alter_Message_Success(data.result.Message);
        }
    }
    function BindButtonSaveClick() {
        $(".btn-save").click(function () {
            var meetingContents = CKEDITOR.instances['txt-venue-contents'].getData();
            var meetingName = $("#txt-venue-name").val();
            var meetingNote = $("#txt-venue-note").val();
            var meetingLanguage = $("#cbx-venue-language").val();
            var venuePlace = $("#txt-venue-place").val();
            var startDate = $("#txt-date-start").val();
            var startTime = $("#txt-time-start").val();
            var endTime = $("#txt-time-end").val();
            var venueStatus = $(this).attr("data-type");
            var infomationData = {
                meetContents: meetingContents,
                meetName: meetingName,
                meetNote: meetingNote,
                meetLanguage: meetingLanguage,
                venuePlace: venuePlace,
                startDate: startDate,
                startTime: startTime,
                endTime: endTime,
                venueStatus: venueStatus
            }
            var formData = new FormData();
            formData.append("infomationData", JSON.stringify(infomationData));
            formData.append("avarta", $("#btnInput")[0].files[0]);
            console.log(infomationData);
            QTW_JQUERY.RUN_AJAX("ajaxPOST", "/Meeting/_AddMeeting", formData, AddResult);
        });
    }
    function BindButtonChooseFileChange() {
        $("#btnInput").change(function () {
            var file = $("#btnInput")[0].files;
            BuildFileItemLayout(file[0]);
        });
    }
    function BuildFileItemLayout(file,index) {
        var icon = "fa fa-file-photo-o";
        var container = $("<li  style='position: relative;'></li>");
        container.append("<div style='width: 90%;' class='li-item-file li-file model_img img-responsive'>\
                                            <div class='bg-purple' style='width: 40px;float: left;'>\
                                                 <i class='"+ icon + " text-white'></i>\
                                            </div>\
                                            <div style='float: left;padding: 10px;width: 70%;'>\
                                                <span style='float:left'>" + file.name + "</span>\
                                            </div>\
                                            <div style='float: right;padding: 10px;width: 20%;'>\
                                               <span style='padding-right:50px' class='text-muted'>" + file.size + " bytes</span>\
                                            </div>\
                                       </div>\
                                       <button type='button' data-index='" + index + "' aria-label='@Html.Raw((ASS_35.Resources.HomeText.Delete))' class='btn btn-danger btn-circle hint--top btnRemoveItems' style='position: absolute;top: 15px;right: 15px;display: none;'><i class='fa fa-times'></i></button>");
        $('#view-item-file').empty();
        $('#view-item-file').append(container);
        container.find('.btnRemoveItems').click(function () {
            container.remove();
            var input = $("#btnInput");
            input = input.val('').clone(true);
            console.log($("#btnInput")[0].files[0]);
        });
    }
</script>
