<div class="white-box">
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.Current_Password)</label>
        <input type="password" class="form-control" id="txt-old-password" placeholder="@(ASS_35.Resources.HomeText.Current_Password)">
    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.New_Password)</label>
        <input type="password" class="form-control" id="txt-new-password" placeholder="@(ASS_35.Resources.HomeText.New_Password)">
    </div>
    <div class="form-group text-left">
        <label class="control-label">@(ASS_35.Resources.HomeText.Confirm_New_Pass)</label>
        <input type="password" class="form-control" id="txt-confirm-new-password" placeholder="@(ASS_35.Resources.HomeText.Confirm_New_Pass)">
    </div>
    <div class="form-actions">
        <button id="btn-save" type="button" class="btn btn-success"> <i class="fa fa-check"></i>@(ASS_35.Resources.HomeText.ButtonSave)</button>
    </div>
</div>
<script>
    $(function () {
     
        BindButtonSaveClick();
    });
    function RegisterResult(data) {
        if (data.result.IsSuccess === false) {
            QTW_RUN_MESS.alter_Message_Error(data.result.Message);
        } else {
            QTW_RUN_MESS.alter_Message_Success(data.result.Message);
        }
    }
    function BindButtonSaveClick() {
        $("#btn-save").click(function () {
            var oldPass = $("#txt-old-password").val();
            var newPass = $("#txt-new-password").val();
            var confirmNewPass = $("#txt-confirm-new-password").val();
            var infomationData = {
                oldPass: oldPass,
                newPass: newPass,
                confirmNewPass: confirmNewPass
            }
            var formData = new FormData();
            formData.append("data", JSON.stringify(infomationData));
            QTW_JQUERY.RUN_AJAX("ajaxPOST", "/AccountInfo/_ChangePassword", formData, RegisterResult);
        });
    }
</script>
